# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/
/tmp/
/vendor/
expense-manager

# Air
tmp/
*.log

# Database
*.db
*.db-journal

# Environment
.env

# Generated code
/internal/repo/gen/
/internal/rpc/gen/
/frontend/gen/

# LLM
# This is a temporary workaround for the LLM code generation
# and should be removed once the code is stable.
memory-bank/
.clinerules

# Frontend
node_modules
.DS_Store
dist
dist-ssr
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
